header {
    background-color: rgb(241, 9, 132);
    color: white;
    padding: 10px 20px;
    text-align:center;
}

body{
    font-family: "Segoe UI", 'Segoe UI', Tahoma;
    margin: 100;
    padding: 0;
}

button{
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(241, 9, 132);
}

footer {
    background-color:rgb(241, 9, 132);
    color: white;
    padding: 10px 20px;
    text-align:center;
}